  @font-face {
      font-family: 'font-medium'; /* 사용할 폰트의 이름을 정의 */
      src: url('../../fonts/GmarketSansTTFMedium.ttf'); /* 폰트 파일의 위치 */
  }

  @font-face {
      font-family: 'font-light'; /* 사용할 폰트의 이름을 정의 */
      src: url('../../fonts/GmarketSansTTFLight.ttf'); /* 폰트 파일의 위치 */
  }


  /* 헤더부분 */
.navbar {
  background-color: #ffffff;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #efefef;
  height: 92px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;

  .amadda-logo {
    height: 92px;
    position: relative;
    width: 225px;
    margin-bottom: 10px;
  }

  .amadda-img {
    background-image: url(../../../public/img/20240930150805570-png.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 92px;
    width: 107px;
  }
  
  .title {
    color: #682936;
    font-family: "font-light";
    font-size: 22px;
    font-weight: 800;
    height: 20px;
    left: 82px;
    letter-spacing: 0;
    line-height: 19.2px;
    position: absolute;
    top: 37px;
    white-space: nowrap;
    width: 130px;
  }
  
  .subtitle {
    color: #682936;
    font-family: "font-light";
    font-size: 13px;
    font-weight: 600;
    height: 12px;
    left: 82px;
    letter-spacing: 0;
    line-height: 19.2px;
    position: absolute;
    top: 62px;
    white-space: nowrap;
    width: 122px;
  }
  
  .navbtn {
    display: flex;
    gap: 40px;

    .btn-matzip, .btn-diary {
      display: flex;
      align-items: center;
      height: 35px;
      width: 70px;
      padding: 0;
      cursor: pointer; /* 마우스를 올렸을 때 손 모양 포인터 */

      .text-matzip, .text-diary {
        height: 100%;
        font-family: "font-light";
        display: flex;
        align-items: center;
      }
    }

    .btn-category {
      height: 35px;
      width: 150px;
      padding: 0;
      display: flex;
      align-items: center;
      cursor: pointer; /* 마우스를 올렸을 때 손 모양 포인터 */
      
      .text-category {
        font-family: "font-light";
        height: 100%;
        display: flex;
        align-items: center;
      }
        
    }
  }

  .form {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #e2e2e2;
    border-radius: 6px;
    height: 48px;
    overflow: hidden;
    width: 20%;

    .form-container {
      height: 46px;
      width: 95%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
      margin: 0 10px
    }

    .form-input-container {
      height: 100%;
    }
    

    .text-form {
      width: 100%;
      height: 100%;
      border-style: none;
      font-family: "font-light";
      font-size: 100%;
      outline: none;        /* input 클릭시 생기는 border 제거 */
      line-height: 80px;        /* input 높이와 같은 값으로 설정해 수직 정렬 */
    }

    .search-img {
      cursor: pointer; /* 마우스를 올렸을 때 손 모양 포인터 */
    }
  }

  .navemoji {
    display: flex;
    gap: 10px;
    margin: 0 40px;
    margin-left: 10px;

    div {
      cursor: pointer; /* 마우스를 올렸을 때 손 모양 포인터 */
      height: 55px;
      padding: 0 10px;
      border-radius: 4px; /* 둥근 모서리 */
      transition: background-color 0.3s ease, transform 0.3s ease; /* 색상과 크기 변화를 부드럽게 */
      
      /* 마우스가 올려졌을 때 색상 변경 */
      &:hover {
        background-color: #f9c74f; /* 예쁜 노란색으로 변경 */
        transform: scale(1.05); /* 살짝 확대 */
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* 더 깊은 그림자 */
      }
    }

    .coinicon {
      padding: 0 5px;
    }
    
    .subicon {
      padding: 0;
    }

    .text-login, .text-coin, .text-sub, .text-my {
      text-align: center;
      font-size: 80%;
      font-family: "font-light";
      margin: 0;
      
    }

    .linear-arrows-action {
      margin-top: 5px;
      margin-bottom: 5px;
      height: 25px !important;
      width: 25px !important;
      padding-right: 10px;
    }
    
    .linear-map-location {
      margin-top: 5px;
      margin-bottom: 5px;
      padding: 0 10px;
      padding-bottom: 1px;
      height: 24px !important;
      width: 25px !important;
    }
    
    .linear-users-user {
      margin-top: 5px;
      margin-bottom: 1px;
      height: 30px !important;
      width: 30px !important;
    }
    
    .linear-notifications {
      margin-top: 5px;
      margin-bottom: 4px;
      padding: 0 16px;
      padding-bottom: 3px;
      height: 24px !important;
      width: 25px !important;
    }
  }

}