@font-face {
    font-family: 'font-medium'; /* 사용할 폰트의 이름을 정의 */
    src: url('../../fonts/GmarketSansTTFMedium.ttf'); /* 폰트 파일의 위치 */
  }
  
  @font-face {
    font-family: 'font-light'; /* 사용할 폰트의 이름을 정의 */
    src: url('../../fonts/GmarketSansTTFLight.ttf'); /* 폰트 파일의 위치 */
  }
  
  
  .matzip-by-function {
    background-color: #ffffff;
    height: auto;
    position: relative;
    width: 100%;
    display: flex; 
    justify-content: center; 
  } 
  
  .matzip-by-function .main-container {
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .matzip-by-function .title-container {
    margin-top: 120px;
    width: 100%;
    margin-bottom: 10px;
  }
  
  .matzip-by-function .title {
    color: #000000;
    font-family: "font-medium";
    font-size: 30px;
    width: 850px;
  }
  
  .matzip-by-function .weather-post-area {
    width: 100%;
    margin-top: 20px;
    height: auto;
  }
  
  .matzip-by-function .overlap {
    width: 100%;
    height: 100%;
    position: relative; /* overlap을 기준으로 요소 배치 */
  }
  
  .matzip-by-function .weather-info {
    background-color: #000000;
    height: 550px;
    width: 450px;
    justify-items: center;
    position: relative; /* 상대 위치 지정 */
    z-index: 2; /* wrapper보다 높은 z-index */
    position: absolute; /* overlap을 기준으로 절대 위치 지정 */
    top: 0; /* overlap의 맨 위에 배치 */
    left: 0; /* overlap의 왼쪽에 배치 */
  }
  
  .matzip-by-function .temperature-1 {
    color: #ffffff;
    font-family: 'GmarketSansMedium', sans-serif;
    font-size: 40px;
    margin-left: 20px;
    margin-top: 50px;
  }
  
  .matzip-by-function .temperature-2 {
    color: #ffffff;
    font-family: "font-light";
    font-size: 25px;
    margin-left: 20px;
    margin-top: 10px;
  }
  
  .matzip-by-function .temperature-3 {
    color: #ffffff;
    font-family: "font-light";
    font-size: 23px;
    padding-top: 80px;
  }
  
  .matzip-by-function .weather-text {
    color: #ffffff;
    font-family: "font-light";
    font-size: 30px;
    padding-top: 20px;
  }
  
  .matzip-by-function .scrollArea {
    background-color: #ffffff50;
    border-radius: 10px;
    height: 3px;
    width: 160px;
    margin-top: 70px;
  }
  
  .matzip-by-function .scrollBar {
    background-color: #ffffff;
    border-radius: 10px;
    height: 3px;
    left: 54px;
    position: relative;
    width: 80px;
  }

  .button-area {
    display: flex; 
    margin-top: 30px;
    gap: 20px; 
    justify-content: center; 
}

  .matzip-by-function .button-previous {
    height: 45px;
    width: 45px;
  }
  
  .matzip-by-function .button-next {
    height: 45px;
    width: 45px;
  }
  
  .matzip-by-function .weather-icon {
    margin-top: 30px;
    width: 140px; /* 가로 크기를 150px로 고정 */
    height: 140px; /* 세로 크기를 150px로 고정 */
  }
  
  .matzip-by-function .weather-icon img {
    width: 100%; /* 이미지가 부모 요소의 가로 크기에 맞게 조정 */
    height: 100%; /* 이미지가 부모 요소의 세로 크기에 맞게 조정 */
    object-fit: contain; /* 비율을 유지하며 이미지 전체가 들어가도록 조정 */
  }
  

  @media (max-width: 1200px) { /* 가로폭이 1200px 이하일 때 */
    .matzip-by-function .weather-info {
        width: 100%;
        position: static; /* 절대 위치를 해제하여 기본 흐름에 따르게 설정 */
        margin-bottom: 20px; /* 아래로 내렸을 때 간격 추가 */
    }

    .overlap {
        flex-direction: column; /* 수직 정렬 */
        width: 100%;
        height: auto;
    }

    .wrapper {
        overflow: hidden;
        width: 100%;
        height: auto; /* 높이를 자동으로 조정 */
    }

    .slide_container {
      width: 100%;
      height: auto;
      margin-top: 0 !important; /* 여백을 강제로 제거 */
    }
  }
  /* 무한 슬라이딩 배너 */
  
  .wrapper {
    overflow: hidden;
    height: 100%;
    width: 100%;
    position: relative; /* 상대 위치 지정 */
    z-index: 1; /* wrapper보다 높은 z-index */
  }
  
  .wrapper .slide_container {
    width: 100%;
    margin-top: 150px;
    height: 100%; 
  }
  
  .wrapper .slide_container .slide_wrapper {
    display: flex;
  }
  
  .wrapper .slide_container .slide {
    display: flex;
    width: auto;
    justify-content: space-between;
    height: auto;
  }
  
  .wrapper .slide_container .slide.original {
    animation: 35s linear infinite normal none running infiniteAnimation1;
  }
  
  .wrapper .slide_container .slide.clone {
    animation: 35s linear infinite infiniteAnimation2;
  }
  
  .wrapper .slide_container .slide.stop {
    animation-play-state: paused;
  }
  
  .wrapper .slide_container .slide li {
    cursor: pointer;
    z-index: 2;
    transition: transform 0.3s; /* 애니메이션 속성을 더 명확하게 설정 */
    transform: scale(1);
  
    height: auto; /* 각 리스트 아이템의 세로 길이를 100%로 설정 */
    display: flex; /* Flexbox 사용 */
    justify-content: center; /* 중앙 정렬 */
    align-items: center; /* 중앙 정렬 */
  }
  
  .slide li .item img {
    width: auto; /* 가로 크기를 자동으로 설정 */
    height: 350px; /* 높이를 300px로 고정 */
    object-fit: contain; /* 비율을 유지하며 이미지 전체가 들어가도록 조정 */
  }
  
  .wrapper .slide_container .slide li:hover {
    transform: scale(0.98);
  }
  
  .wrapper .slide_container .slide li:hover::after {
    content: "";
    width: 100%;
    height: 100%;
  }
  
  @keyframes infiniteAnimation1 {
    0% {
        transform: translateX(0%);
    }
    50% {
        transform: translateX(-100%);
    }
    50.1% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%);
    }
  }
  @keyframes infiniteAnimation2 {
      0% {
          transform: translateX(0%);
      }
      100% {
          transform: translateX(-200%);
      }
  }
  
  .matzip-by-function .post1 {
    width: auto; 
    height: 300px; 
    object-fit: contain; /* 비율을 유지하며 이미지 전체가 들어가도록 조정 */
    padding: 10px;
  }
  
  .matzip-by-function .frame {
    background-position: 50% 50%;
    background-size: cover;
    height: auto;
  }
  
  .matzip-by-function .feeling-post-area {
    height: auto;
    display: flex;
    width: 100%;
    flex-direction: column;
  }
  
  /* 감정 버튼 */
  
  .feeling-btn-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
  }

  .matzip-by-function .label-1,
  .matzip-by-function .label-2,
  .matzip-by-function .label-3,
  .matzip-by-function .label-4,
  .matzip-by-function .label-5,
  .matzip-by-function .label-6 {
    height: 30px;
    background-color: #ebebeb;
    border-radius: 5px;
    flex-grow: 0;
  }
  
  .matzip-by-function .label-1.active,
  .matzip-by-function .label-2.active,
  .matzip-by-function .label-3.active,
  .matzip-by-function .label-4.active,
  .matzip-by-function .label-5.active,
  .matzip-by-function .label-6.active {
    background-color: #c3c3c3; 
    cursor: pointer;
  }

  @media (max-width: 600px) { 
    .feeling-btn-container {
      justify-content: space-around; 
    }
  }
  
  .matzip-by-function .label-1 {
    width: 72px;
  }

  .matzip-by-function .label-2 {
    width: 72px;
  }
  
  .matzip-by-function .label-3 {
    width: 72px;
  }

  .matzip-by-function .label-4 {
    width: 87px;
  }

  .matzip-by-function .label-5 {
    width: 97px;
  }

  .matzip-by-function .label-6 {
    width: 87px;
  }
  
  .matzip-by-function .feeling-text {
    color: #333333;
    font-family: "Abel", Helvetica;
    font-size: 13px;
    left: 39px;
    position: relative;
    top: 6px;
    white-space: nowrap;
  }

  .matzip-by-function .feeling-img {
    height: 25px;
    left: 7px;
    position: absolute;
    top: 2.5px;
    width: 25px;
  }
  

  .matzip-by-function .overlap-level-2 {
    height: 100%;
    position: relative;
    width: 100%;
  }
  
  .matzip-by-function .overlap-level-3 {
    height: 38px;
    position: relative;
  }
  
  .matzip-by-function .overlap-level-4 {
    height: 38px;
    position: relative;
    width: 114px;
  }
  
  /* 감정 맛집 리스트 */
  
  .matzip-by-function .feeling-post-list {
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-items: center;
  }
  
  .post-list {
    width: 100%;
    margin-top: 30px;  
  }

  .post-items {
    display: flex;
    flex-wrap: wrap;         
    justify-content: space-between; 
    height: 931px;
    width: 100%;
    gap: 10px;    
  }

  .pagination-container {
    display: flex;
    justify-content: center; 
    margin-top: 20px; 
  }

  .post-item {
    flex: 1 1 calc(20% - 10px); /* 기본 한 줄에 5개씩 배치 */
    max-width: calc(20% - 10px); 
    box-sizing: border-box;    
    margin-bottom: 50px;
    align-items: center;
    justify-items: center;
  }
  
  /* 반응형 설정: 화면이 1200px 이하일 때 */
  @media (max-width: 1200px) {
    .post-item {
        flex: 1 1 calc(50% - 10px); /* 한 줄에 2개씩 배치 */
        max-width: calc(50% - 10px);
    }

    .post-items{
      height: auto;
    }
  }

  .matzip-by-function .image-container {
    height: 300px;
    overflow: hidden;
    width: 100%;
  }
  
  .matzip-by-function .image-background {
    background-color: #d9d9d9;
    height: 100%;
    position: relative;
    width: 100%;
    display: flex; 
    justify-content: center; 
    align-items: center; 
  }
  
  .matzip-by-function .pin-color {
    background-color: #f40159;
    height: 25px;
    width: 80px;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    position: absolute; 
    top: 0; 
    left: 0; 
  }
  
  .matzip-by-function .pin-color-text {
    color: #ffffff;
    font-family: "Abel", Helvetica;
    font-size: 13px;
  }
  
  .matzip-by-function .image-text {
    color: #000000;
    font-family: "Abel", Helvetica;
    font-size: 16px;
    z-index: 1; /* 텍스트가 이미지 위에 위치하게 설정 */
  }

  .info-area {
    width: 100%;
  }

  .matzip-by-function .user-name-2 {
    color: #333333;
    font-family: "Abel", Helvetica;
    font-size: 13px;
    margin-top: 10px;
  }
  
  .matzip-by-function .diary-title {
    color: #333333;
    font-family: "font-medium";
    font-size: 18px;
    margin-top: 15px;
  }
  
  .matzip-by-function .privacy {
    color: #333333;
    font-family: "Abel", Helvetica;
    font-size: 13px;
    margin-top: 10px;
  }
  
  .matzip-by-function .receipt {
    color: #333333;
    font-family: "Abel", Helvetica;
    font-size: 13px;
    margin-top: 5px;
  }
  
  
  /* 페이지네이션 */
  
  .pagination-area {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  
  /* Today's top reading */
  
  .matzip-by-function .today-top-reading {
    height: 1108px;
  }
  
  .matzip-by-function .top-post-area {
    margin-top: 50px;
  }
  
  .matzip-by-function .horizontal-list {
    display: flex;
    width: auto;
    height: auto;
  }
  
  .matzip-by-function .top-reading-item-1 {
    border-color: #000000;
    border-top-style: solid;
    border-top-width: 4px;
    flex-direction: column;
    margin-left: 7px;
    margin-right: 7px;
    height: 220px;
    width: 100%;
  }
  
  .matzip-by-function .top-reading-item-2 {
    border-color: #00000033;
    border-top-style: solid;
    border-top-width: 1px;
    margin-left: 7px;
    margin-right: 7px;
    height: 192px;
    width: 100%;
  }
  
  .horizontal-container {
    display: flex;
    margin-top: 15px;
  }

  .matzip-by-function .user-name {
    color: #222222;
    font-family: "Abel", Helvetica;
    font-size: 16px;
    top: 12px;
  }
  
  .matzip-by-function .price {
    color: #222222;
    font-family: "Abel", Helvetica;
    font-size: 10px;
    margin-left: 5px;
    margin-top: 4px;
  }
  
  
  .matzip-by-function .post-reading-title-1 {
    color: #222222;
    font-family: "Abel", Helvetica;
    font-size: 22px;
  }
  
  .matzip-by-function .post-reading-title-2 {
    font-size: 12px;
    margin-left: 5px;
    margin-top: 4px;
  }
  
  
  .matzip-by-function .reading-count {
    color: #222222;
    font-family: "Abel", Helvetica;
    margin-top: 15px;
    font-size: 18px;
  }
  
  
  /* 글쓰기 컨텐츠 */
  
  .matzip-by-function .writing-contents-area {
    height: auto;
    margin-top: 100px;
  }
  
  .matzip-by-function .writing-item-1 {
    background-color: #485168;
    height: 270px;
    width: 100%;
  }
  
  .matzip-by-function .writing-item-2 {
    background-color: #684852;
    height: 270px;
    width: 100%;
  }
  
  .matzip-by-function .writing-title {
    color: #ffffff;
    font-family: "font-light";
    font-size: 20px;
    padding-top: 40px;
    padding-left: 40px;
  }
  
  
  .matzip-by-function .writing-text {
    color: #ffffff;
    font-family: "font-medium";
    font-size: 23px;
    padding-top: 50px;
    padding-left: 40px;
    padding-right: 10px;
  }
  
  .matzip-by-function .arrow-button {
    object-fit: cover;
    width: 90%;
  }

 .empty-area {
    height: 200px;
 }