@font-face {
  font-family: 'font-medium'; /* 사용할 폰트의 이름을 정의 */
  src: url('../fonts/GmarketSansTTFMedium.ttf'); /* 폰트 파일의 위치 */
}

@font-face {
  font-family: 'font-light'; /* 사용할 폰트의 이름을 정의 */
  src: url('../fonts/GmarketSansTTFLight.ttf'); /* 폰트 파일의 위치 */
}


.matzip-by-function {
  background-color: #ffffff;
  height: 3982px;
  position: relative;
  width: 100%;
  display: flex; /* Flexbox 설정 추가 */
  justify-content: center; /* 가로로 중앙 정렬 */
}

.matzip-by-function .container {
  height: auto;
  width: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.matzip-by-function .title-container {
  display: flex;
  margin-top: 200px;
  width: 1660px;
}

.matzip-by-function .title {
  color: #000000;
  font-family: "font-medium";
  font-size: 45px;
  font-weight: 400;
  height: 63px;
  line-height: normal;
  width: 850px;
}

.matzip-by-function .weather-post-area {
  height: 720px;
  width: 1920px;
  margin-top: 20px;
}

.matzip-by-function .overlap {
  height: 722px;
  left: 135px;
  position: relative;
  width: 1785px;
}

.matzip-by-function .weather-info {
  background-color: #000000;
  height: 722px;
  position: absolute;
  width: 576px;
}

.matzip-by-function .temperature-1 {
  color: #ffffff;
  font-family: 'GmarketSansMedium', sans-serif;
  font-size: 60px;
  font-weight: 400;
  height: 80px;
  left: 216px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 113px;
  width: 254px;
}

.matzip-by-function .temperature-2 {
  color: #ffffff;
  font-family: "font-light";
  font-size: 36px;
  font-weight: 400;
  height: 43px;
  left: 218px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 193px;
  white-space: nowrap;
  width: 213px;
}

.matzip-by-function .temperature-3 {
  color: #ffffff;
  font-family: "font-light";
  font-size: 28px;
  font-weight: 400;
  height: 43px;
  left: 46px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 305px;
  width: 330px;
}

.matzip-by-function .weather-text {
  color: #ffffff;
  font-family: "font-light";
  font-size: 44px;
  font-weight: 400;
  height: 189px;
  left: 46px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 370px;
  width: 403px;
}



.matzip-by-function .scrollArea {
  background-color: #ffffff50;
  border-radius: 10px;
  height: 4px;
  left: 50px;
  position: absolute;
  top: 568px;
  width: 188px;
}

.matzip-by-function .scrollBar {
  background-color: #ffffff;
  border-radius: 10px;
  height: 4px;
  left: 54px;
  position: relative;
  width: 97px;
}

.matzip-by-function .button-previous {
  height: 55px;
  left: 50px;
  position: absolute;
  top: 617px;
  width: 55px;
}

.matzip-by-function .button-next {
  height: 55px;
  left: 114px;
  position: absolute;
  top: 617px;
  width: 55px;
}

.matzip-by-function .weather-icon {
  height: 160px;
  left: 33px;
  position: absolute;
  top: 67px;
  width: 160px;
}

.matzip-by-function .linear-essentional-UI-umbrella {
  left: 5px !important;
}

/* 무한 슬라이딩 배너 */

.wrapper {
  overflow: hidden;
  margin-left: 500px;
  height: 100%; 
}

.wrapper .slide_container {
  margin-top: 100px;
  height: auto; 
}

.wrapper .slide_container .slide_wrapper {
  display: flex;
  flex-wrap: nowrap;
  height: 100%; /* 슬라이드 래퍼의 세로 길이를 100%로 설정 */
}

.wrapper .slide_container .slide {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  height: auto;
}

.wrapper .slide_container .slide.original {
  animation: 30s linear infinite normal none running infiniteAnimation1;
}

.wrapper .slide_container .slide.clone {
  animation: 30s linear infinite infiniteAnimation2;
}

.wrapper .slide_container .slide.stop {
  animation-play-state: paused;
}

.wrapper .slide_container .slide li {
  cursor: pointer;
  z-index: 2;
  transition: transform 0.3s; /* 애니메이션 속성을 더 명확하게 설정 */
  transform: scale(1);
  margin: 0 0.4%; /* 간격 설정 통합 */
  height: 100%; /* 각 리스트 아이템의 세로 길이를 100%로 설정 */
  display: flex; /* Flexbox 사용 */
  justify-content: center; /* 중앙 정렬 */
  align-items: center; /* 중앙 정렬 */
}

.slide li .item img {
  width: 100%;
  height: auto; /* 이미지를 비율에 맞게 조정 */
}

.wrapper .slide_container .slide li:hover {
  transform: scale(0.98);
}

.wrapper .slide_container .slide li:hover::after {
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

@keyframes infiniteAnimation1 {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(-100%);
  }
  50.1% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes infiniteAnimation2 {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-200%);
  }
}

.matzip-by-function .container-2 {
  height: 617px;
  left: 495px;
  overflow: hidden;
  position: absolute;
  top: 105px;
  width: 1290px;
}

.matzip-by-function .post1 {
  height: 562px;
  left: 0;
  top: 55px;
  width: 400px;
}

.matzip-by-function .frame {
  background-position: 50% 50%;
  background-size: cover;
  height: auto;
}

.matzip-by-function .overlap-group {
  height: 504px;
  left: 852px;
  position: absolute;
  top: 109px;
  width: 390px;
}


.matzip-by-function .div-wrapper {
  height: 563px;
  left: 1255px;
  position: absolute;
  top: 0;
  width: 400px;
}


.matzip-by-function .feeling-post-area {
  height: auto;
  left: 130px;
  display: flex;
  width: 1660px;
  flex-direction: column;
}

.matzip-by-function .heading-link {
  height: 52px;
  top: 172px;
  width: 356px;
}

.matzip-by-function .text-wrapper-2 {
  color: #333333;
  font-family: "Abel", Helvetica;
  font-size: 52px;
  font-weight: 400;
  height: 63px;
  left: 0;
  letter-spacing: 0;
  line-height: 52px;
  position: absolute;
  top: -7px;
  width: 370px;
}


/* 감정 버튼 */

.matzip-by-function .feeling-btn-container {
  height: 48px;
  display: flex;
  margin-top: 30px;
  width: 1660px;
}

.matzip-by-function .label {
  background-color: #ebebeb;
  height: 38px;
  left: 0px;
  top: 5px;
  width: 81px;
}

.matzip-by-function .item-link-wrapper {
  background-image: url(../../public/img/border.svg);
  background-size: 100% 100%;
  height: 38px;
  width: 80px;
}

.matzip-by-function .item-link {
  height: 26px;
  left: 39px;
  position: relative;
  top: 6px;
  width: 34px;
}

.matzip-by-function .text-wrapper-3 {
  color: #333333;
  font-family: "Abel", Helvetica;
  font-size: 18px;
  font-weight: 400;
  height: 21px;
  left: 1px;
  letter-spacing: 0;

  position: absolute;
  top: 2px;
  white-space: nowrap;
  width: 35px;
}

.matzip-by-function .label-2 {
  background-color: #ebebeb;
  margin-left: 15px;
  height: 38px;
  left: 100px;
  top: 5px;
  width: 82px;
}

.matzip-by-function .border {
  border: 1px solid;
  border-color: transparent;
  border-image: linear-gradient(
      to bottom,
      rgba(204, 204, 204, 0.2) 100%,
      rgb(235, 235, 235)
    )
    1;
  height: 38px;
  left: 0;
  position: absolute;
  top: 0;
  width: 80px;
}

.matzip-by-function .overlap-group-3 {
  background-color: #f1f3f8;
  background-image: url(../../public/img/smiley.png);
  background-size: 100% 100%;
  border-radius: 13.5px;
  height: 26px;
  left: 7px;
  position: relative;
  top: 6px;
  width: 26px;
}

.matzip-by-function .item-link-6 {
  height: 26px;
  left: 39px;
  position: absolute;
  top: 6px;
  width: 34px;
}

.matzip-by-function .label-3 {
  background-color: #ebebeb;
  margin-left: 15px;
  height: 38px;
  left: 200px;
  top: 5px;
  width: 82px;
}

.matzip-by-function .overlap-2 {
  height: 38px;
  position: relative;
  width: 80px;
}

.matzip-by-function .item-link-2 {
  height: 26px;
  left: 39px;
  position: absolute;
  top: 6px;
  width: 35px;
}


.matzip-by-function .img {
  height: 26px;
  left: 7px;
  position: absolute;
  top: 6px;
  width: 26px;
}

.matzip-by-function .label-4 {
  background-color: #ebebeb;
  margin-left: 15px;
  height: 38px;
  top: 5px;
  width: 100px;
}

.matzip-by-function .overlap-3 {
  height: 38px;
  position: relative;
}

.matzip-by-function .item-link-3 {
  height: 26px;
  left: 40px;
  position: absolute;
  top: 6px;
  width: 50px;
}


.matzip-by-function .overlap-group-2 {
  height: 26px;
  left: 7px;
  position: absolute;
  top: 6px;
  width: 27px;
}

.matzip-by-function .background-3 {
  background-color: #f1f3f8;
  border-radius: 13.5px;
  height: 26px;
  left: 0;
  position: absolute;
  top: 0;
  width: 26px;
}

.matzip-by-function .img-2 {
  height: 26px;
  left: 1px;
  position: absolute;
  top: 0;
  width: 26px;
}

.matzip-by-function .label-6 {
  background-color: #ebebeb;
  margin-left: 15px;
  height: 38px;
  top: 5px;
  width: 100px;
}

.matzip-by-function .item-link-4 {
  height: 26px;
  left: 39px;
  position: absolute;
  top: 6px;
  width: 50px;
}

.matzip-by-function .label-5 {
  background-color: #ebebeb;
  height: 38px;
  margin-left: 15px;
  top: 5px;
  width: 118px;
}

.matzip-by-function .overlap-4 {
  height: 38px;
  position: relative;
  width: 114px;
}

.matzip-by-function .item-link-5 {
  height: 26px;
  left: 42px;
  position: absolute;
  top: 6px;
  width: 68px;
}

/* 감정 맛집 리스트 */

.matzip-by-function .feeling-post-list {
  height: 1256px;
  margin-top: 50px;
  width: 100%;
}

.post-list {
  display: flex;
  flex-wrap: wrap;         
  justify-content: space-between; 
  gap: 10px;              
  margin: 0 auto;          
}

.post-item {
  flex: 1 1 calc(16.66% - 10px); /* 한 줄에 6개씩 배치 (100% / 6 = 16.66%) */
  max-width: calc(16.66% - 10px); 
  box-sizing: border-box;       
}

.matzip-by-function .post-item {
  height: 581px;
  width: 261px;
}

.matzip-by-function .text-wrapper-8 {
  color: #333333;
  font-family: "Abel", Helvetica;
  font-size: 16px;
  font-weight: 400;
  margin-top: 10px;
  height: 19px;
  width: 90px;
}


.matzip-by-function .term {
  height: 60px;
  left: 0;
  top: 0;
  width: 261px;
}

.matzip-by-function .text-wrapper-9 {
  color: #333333;
  font-family: "font-medium";
  font-size: 22px;
  font-weight: 400;
  margin-top: 20px;
  height: 56px;
  line-height: 30px;
  width: 260px;
}

.matzip-by-function .details {
  color: #333333;
  font-family: "Abel", Helvetica;
  font-size: 18px;
  font-weight: 400;
  height: 18px;
  white-space: nowrap;
  width: 232px;
}

.matzip-by-function .details-2 {
  color: #333333;
  font-family: "Abel", Helvetica;
  font-size: 18px;
  font-weight: 400;
  height: 18px;
  margin-top: 10px;
  white-space: nowrap;
  width: 232px;
}

.matzip-by-function .container-4 {
  height: 366px;
  left: 0;
  overflow: hidden;
  top: 0;
  width: 261px;
}

.matzip-by-function .overlap-group-4 {
  background-color: #d9d9d9;
  height: 366px;
  position: relative;
  width: 262px;
}

.matzip-by-function .background-4 {
  background-color: #f40159;
  height: 29px;
  left: 0;
  position: absolute;
  top: 0;
  width: 85px;
}

.matzip-by-function .text-wrapper-10 {
  color: #ffffff;
  font-family: "Abel", Helvetica;
  font-size: 16px;
  font-weight: 400;
  height: 19px;
  left: 8px;
  letter-spacing: 0;
  line-height: 21px;
  position: absolute;
  text-align: center;
  top: 4px;
  white-space: nowrap;
  width: 69px;
}

.matzip-by-function .text-wrapper-11 {
  color: #000000;
  font-family: "Abel", Helvetica;
  font-size: 16px;
  font-weight: 400;
  height: 41px;
  left: 73px;
  letter-spacing: 0;
  line-height: 21px;
  position: absolute;
  text-align: center;
  top: 156px;
  width: 117px;
}




/* 페이지네이션 */

.pagination-area {
  display: flex;
  justify-content: center;
}

.pagination {
  display: flex;
  list-style: none;
  padding: 0;
}

.page-item {
  margin: 0 5px;
}

.page-item a {
  text-decoration: none;
  color: black; /* 기본 글씨 색 */
}

.page-item.active a {
  background-color: black; /* 활성화된 페이지 배경색 */
  color: white; /* 활성화된 페이지 글씨 색 */
}

/* Today's top reading */

.matzip-by-function .today-top-reading {
  height: 1108px;
  width: 1660px;
}

.matzip-by-function .heading-link-2 {
  color: #333333;
  font-family: "font-medium";
  font-size: 45px;
  height: 52px;
  line-height: 52px;
  white-space: nowrap;
  width: 300px;
}

.matzip-by-function .top-post-area {
  height: 412px;
  margin-top: 100px;
  width: 1660px;
}

.matzip-by-function .list {
  display: flex;
}

.matzip-by-function .top-reading-item-1 {
  border-color: #000000;
  border-top-style: solid;
  border-top-width: 3px;
  flex-direction: column;
  height: 220px;
  width: 820px;
}

.horizontal-container {
  display: flex;
  margin-top: 10px;
}

.matzip-by-function .user-name {
  color: #222222;
  font-family: "Abel", Helvetica;
  font-size: 16px;
  font-weight: 400;
  height: 16px;
  line-height: 16px;
  top: 12px;
  white-space: nowrap;
  width: 75px;
}

.matzip-by-function .price {
  color: #222222;
  font-family: "Abel", Helvetica;
  font-size: 8px;
  font-weight: 400;
  height: 16px;
  left: 75px;
  line-height: 16px;
  top: 14px;
  white-space: nowrap;
  width: 75px;
}


.matzip-by-function .post-reading-title {
  color: #222222;
  font-family: "Abel", Helvetica;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 22px;
}

.matzip-by-function .text-wrapper-35 {
  font-size: 12px;
}


.matzip-by-function .reading-count {
  color: #222222;
  font-family: "Abel", Helvetica;
  margin-top: 10px;
  font-size: 18px;
  font-weight: 400;
  height: 18px;
  letter-spacing: 0;
  line-height: 18px;
  white-space: nowrap;
  width: 194px;
}

.matzip-by-function .top-reading-item-2 {
  border-color: #000000;
  border-top-style: solid;
  border-top-width: 3px;
  height: 220px;
  left: 840px;
  width: 820px;
}

.matzip-by-function .details-15 {
  color: #222222;
  font-family: "Abel", Helvetica;
  font-size: 16px;
  font-weight: 400;
  height: 16px;
  letter-spacing: 0;
  line-height: 16px;
  top: 10px;
  white-space: nowrap;
  width: 75px;
}

.matzip-by-function .details-16 {
  color: #222222;
  font-family: "Abel", Helvetica;
  font-size: 8px;
  font-weight: 400;
  height: 16px;
  left: 75px;
  letter-spacing: 0;
  line-height: 16px;
  top: 12px;
  white-space: nowrap;
  width: 75px;
}

.matzip-by-function .term-KT-g-with-2 {
  color: #222222;
  font-family: "Abel", Helvetica;
  font-size: 22px;
  font-weight: 400;
  height: 22px;
  letter-spacing: 0;
  line-height: 22px;
  top: 39px;
  white-space: nowrap;
  width: 473px;
}

.matzip-by-function .term-KT-g-with-3 {
  color: #222222;
  font-family: "Abel", Helvetica;
  font-size: 22px;
  font-weight: 400;
  height: 22px;
  line-height: 22px;
  top: 74px;
  white-space: nowrap;
  width: 473px;
}

.matzip-by-function .details-17 {
  color: #222222;
  font-family: "Abel", Helvetica;
  font-size: 18px;
  font-weight: 400;
  height: 18px;
  left: 0;
  letter-spacing: 0;
  line-height: 18px;
  top: 109px;
  white-space: nowrap;
  width: 194px;
}

.matzip-by-function .top-reading-item-3 {
  border-color: #00000033;
  border-top-style: solid;
  border-top-width: 1px;
  height: 192px;
  top: 220px;
  width: 820px;
}

.matzip-by-function .top-reading-item-4 {
  border-color: #00000033;
  border-top-style: solid;
  border-top-width: 1px;
  height: 192px;
  left: 840px;
  top: 220px;
  width: 820px;
}
